<div class="card-columns">
  <div class="card">
    <img src="/assets/training-1.jpg" class="card-img-top" >
  </div>
  <div class="card">
    <img src="/assets/training-2.jpg" class="card-img-top" >
  </div>
  <div class="card text-white text-center">
    <img src="/assets/training-3.jpg" class="card-img-top" >
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>«Життя – як водіння велосипеда. Щоб зберегти рівновагу, треба рухатися».</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Альберт Ейнштейн
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <img src="/assets/training-4.jpg" class="card-img-top" >
  </div>
  <div class="card">
    <img src="/assets/training-7.png" class="card-img-top" >
  </div>
  <div class="card text-right">
    <img src="/assets/training-5.jpg" class="card-img-top" >
  </div>
  <div class="card">
    <img src="/assets/training-6.jpg" class="card-img-top" >
  </div>
</div>
